/* You can add global styles to this file, and also import other style files */

$primary: #e50914 ;
$secondary: #0071eb;
$warning: #e87c03;
$light: #ffff;
$dark: #000000;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '/src/style/mixin';

body {
    color: #ffff;
    background-color: $dark;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

h1, h2{
    font-size: 2rem;
    font-weight: 700;
    @include desktop{
        font-size: 3rem;
        font-weight: 900;
    }
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    @include desktop{
        font-size: 1.5rem;
    }
}

img{
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    & input{
        color: white;
        background: transparent;
        border: 0 solid transparent;
        border-radius: 0.375rem;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        padding: 16px 20px 0;
        &::placeholder{
            color: #8c8c8c;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all .1s ease;
        }
    }
    & input:focus {
        &::placeholder{
            transform: translateY(-20px);
            font-size: 10px;
        }
    }
}

.footer{
    & p {
        font-size: 1rem;
    }
    &__bloc{
        width: 90%;
    }
    & ul {
        padding: 0;
        & li {
            list-style: none;
            box-sizing: border-box;
            display: inline-block;
            margin-bottom: 16px;
            min-width: 100px;
            padding: 0 12px 0 0;
            vertical-align: top;
            width: 50%;
            @include desktop{
                width: 25%;
            }
            & a {
                text-decoration: none;
                font-size: 13px;
            }
        }
    }
}