<section class="search d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-expand position-absolute top-0 w-100">
        <div class="container-sm">
            <!-- <img src="http://www.w3.org/2000/svg" alt=""> -->
            <p class="navabr-brand text-primary">Netflix</p>
            <div id="navbarNav" class="justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item me-4" ngbDropdown>
                        <a class="btn btn-outline-light" tabindex="0" ngbDropdownToggle id="navbarDropDown" role="button"><i class="fas fa-globe-europe me-1"></i>Français</a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropDown" class="dropdown-menu">
                            <a ngbDropdownItem href="#"><i class="fas fa-globe-europe me-1"></i>Français</a>
                            <a ngbDropdownItem href="#"><i class="fas fa-globe-europe me-1"></i>Anglais</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary">S'identifier</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-sm h-100">
        <div class="text-center">
            <h1>Films, Séries et bien plus en illimité.</h1>
            <p>Où que vous soyez. Annulez à tout moment.</p>
            <p>Prêt à regarder netflix ? Saisissez votre adresse e-mail pour vous abonner ou réactiver votre abonnement.</p>
            <div class="row g-3 d-flex justify-content-center">
                <!-- <div class="col-6"><input type="text" placeholder="Adresse e-mail"></div>
                <div class="col-3"><button class="btn btn-primary">Commencer <i class="fas fa-chevron-right"></i></button></div> -->
                <input class="col-12 col-md-9" type="text" placeholder="Adresse e-mail">
                <button class="col-6 col-md-3 btn btn-primary fw-bold fs-4">Commencer <i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-sm">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Regardez Netflix sur votre TV.</h2>
                <p>Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast, Applet TV, lecteur Blu-ray et bien plus.</p>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/tv.png" alt="">
            </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>
<section>
    <div class="container-sm">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Regardez Netflix sur votre TV.</h2>
                <p>Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast, Applet TV, lecteur Blu-ray et bien plus.</p>
            </div>
            <div class="col-md-6">
                <img src="../../assets/images/tv.png" alt="">
            </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>