
<!-- Section Home start -->
<section class="home d-flex justify-content-center align-items-center">
    <div class="home__bg"></div>
        <!-- nav Start -->
        <nav class="home__nav navbar navbar-expand position-absolute top-0 w-100">
            <div class="container-sm">
                <svg class="navbar-brand" xmlns="http://www.w3.org/2000/svg" width="256" height="70" viewBox="0 0 256 69.186"><path d="M35.2 64.726c-3.85.676-7.77.88-11.823 1.42L11.013 29.93V67.7c-3.85.405-7.364.946-11.013 1.486V0h10.27l14.053 39.255V0H35.2v64.726zm21.283-39.39l14.46-.203v10.8l-14.46.203v16.08l19.12-1.15v10.404l-29.93 2.365V0h29.93v10.8h-19.12v14.526zm59.32-14.526H104.59v49.727l-10.8.135V10.81H82.564V0h33.24v10.81zm17.567 13.783h14.797v10.8H133.37V59.93h-10.608V0h30.202v10.8H133.37v13.783zm37.16 25.877c6.15.135 12.364.608 18.377.946V62.09l-29.187-1.42V0h10.8v50.47zm27.5 12.364c3.446.203 7.094.406 10.607.81V0H198.03v62.835zM256 0l-13.716 32.904L256 69.186c-4.054-.54-8.108-1.284-12.162-1.96l-7.77-19.998-7.904 18.378c-3.92-.676-7.703-.88-11.62-1.42l13.918-31.688L217.894 0h11.62l7.094 18.175L244.176 0H256z" fill="#d81f26"/></svg>
                <!-- <p class="nav-brand text-primary">Netflix</p> -->
                <div id="navbarNav" class="justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item me-4" ngbDropdown>
                            <a class="btn btn-outline-light" tabindex="0" ngbDropdownToggle id="navbarDropDown" role="button"><i class="fas fa-globe-europe me-1"></i>Français</a>
                            <div ngbDropdownMenu aria-labelledby="navbarDropDown" class="dropdown-menu">
                                <a ngbDropdownItem href="#"><i class="fas fa-globe-europe me-1"></i>Français</a>
                                <a ngbDropdownItem href="#"><i class="fas fa-globe-europe me-1"></i>Anglais</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-primary">S'identifier</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- nav end -->

        <div class="home__index container-sm h-100">
            <div class="text-center">
                <h1>Films, Séries et bien plus en illimité.</h1>
                <p>Où que vous soyez. Annulez à tout moment.</p>
                <p>Prêt à regarder netflix ? Saisissez votre adresse e-mail pour vous abonner ou réactiver votre abonnement.</p>
                <div class="row g-3 d-flex justify-content-center">
                    <div class="input col-10 col-md-6 me-4"><input class="w-100" type="text" placeholder="Adresse e-mail"></div>
                    <button class="col-5 col-md-4 col-lg-3 btn btn-primary fw-bold fs-4">Commencer <i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
</section>
<!-- section home end -->




<!-- section tv start -->
<section>
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col text-center">
                <h2>Regardez Netflix sur votre TV.</h2>
                <p>Regardez Netflix sur votre Smart TV, PlayStation, Xbox, Chromecast, Applet TV, lecteur Blu-ray et bien plus.</p>
            </div>
            <div class="col position-relative">
                <img src="../../assets/images/tv.png" alt="télévision">
                <div class="video video-tv">
                    <video autoplay loop src="../../assets/images/video-tv.m4v"></video>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>
<!-- section tv end -->




<!-- section devices start -->
<section>
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col text-center">
                <h2>Où que vous soyez.</h2>
                <p>Regardez des films et séries en illimité sur votre TV, smartphone, tablette et ordinateur, sans payer de supplément.</p>
            </div>
            <div class="col order-first position-relative">
                <img src="../../assets/images/device-pile.png" alt="devices">
                <div class="video video-device">
                    <video autoplay loop src="../../assets/images/video-devices.m4v"></video>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>
<!-- section devices end -->



<!-- section child start -->
<section>
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col text-center">
                <h2>Créez des profils pour les enfants.</h2>
                <p>Les enfants découvrent de nouvelles aventures et retrouvent leurs personnages préférés dans un espace bien à eux, déjà inclus dans votre abonnement.</p>
            </div>
            <div class="col position-relative">
                <img src="../../assets/images/young.png" alt="télévision">
            </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>
<!-- section child end -->



<!-- section devices start -->
<section>
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col text-center">
                <h2>Téléchargez vos séries préférées pour les regarder hors connexion.</h2>
                <p>Uniquement disponible dans les offres sans pub.</p>
            </div>
            <div class="col order-first position-relative">
                <img src="../../assets/images/mobile-0819.jpg" alt="devices">
                <div class="download d-flex justify-content-center align-items-center bg-dark">
                    <img class="me-2" src="../../assets/images/boxshot.png" alt="Strangers things">
                    <div>
                        <h3 class="fs-5">Strangers Things</h3>
                        <p class="text-secondary fs-6">Téléchargement en cours...</p>
                    </div>
                    <img src="../../assets/images/download-icon.gif" alt="download icon">
                </div>
            </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>
<!-- section devices end -->



<!-- section FAQ start -->
<section>
    <div class="container-sm">
        <h2 class="text-center">Foire aux questions</h2>

        <!-- Accordion start -->
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
            <ngb-panel *ngFor="let line of questions">
                <ng-template cardClass="accordion" ngbPanelTitle type="primary">
                    <h3>{{line.question}}</h3>
                </ng-template>
                <ng-template ngbPanelContent>
                    {{line.response}}
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <!-- Accordion end -->


        <div class="text-center">
            <p>Prêt à regarder netflix ? Saisissez votre adresse e-mail pour vous abonner ou réactiver votre abonnement.</p>
                <div class="row g-3 d-flex justify-content-center">
                    <div class="input col-10 col-md-6 me-4"><input class="w-100" type="text" placeholder="Adresse e-mail"></div>
                    <button class="col-5 col-md-3 col-lg-2 btn btn-primary fw-bold fs-4">Commencer <i class="fas fa-chevron-right"></i></button>
                </div>
        </div>
    </div>
    <div class="custom-br"></div>
</section>
<!-- section FAQ end -->


<!-- section footer start -->
<footer class="footer">
    <div class="container">
        <p>Des questions ? Appelez le <a href="">(+33)0805-543-063</a></p>
        <div>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Centre d'aide</a></li>
                <li><a href="">Compte</a></li>
                <li><a href="">Presse</a></li>
                <li><a href="">Relations investisseurs</a></li>
                <li><a href="">Recrutement</a></li>
                <li><a href="">Boutique Netflix</a></li>
                <li><a href="">Utiliser des cartes cadeaux</a></li>
                <li><a href="">Acheter des cartes cadeaux</a></li>
                <li><a href="">Modes de lecture</a></li>
                <li><a href="">Conditions d'utilisation</a></li>
                <li><a href="">Confidentialité</a></li>
                <li><a href="">Préférences de cookies</a></li>
                <li><a href="">Mentions Légales</a></li>
                <li><a href="">Nous contacter</a></li>
                <li><a href="">Test de vitesse</a></li>
                <li><a href="">Garantie légale</a></li>
                <li><a href="">Informations légales</a></li>
                <li><a href="">Seulement sur Netflix</a></li>
            </ul>
        </div>
        <div class="nav-item me-4" ngbDropdown>
            <a class="btn btn-outline-light" tabindex="0" ngbDropdownToggle id="navbarDropDown" role="button"><i class="fas fa-globe-europe me-1"></i>Français</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropDown" class="dropdown-menu">
                <a ngbDropdownItem href="#"><i class="fas fa-globe-europe me-1"></i>Français</a>
                <a ngbDropdownItem href="#"><i class="fas fa-globe-europe me-1"></i>Anglais</a>
            </div>
        </div>
    </div>
</footer>
<!-- section footer end -->